:root {
  font-size: 16px;
  font-family: 'monospace';
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --transition-speed: 300ms;
}
body {
  font-family: monospace;
  color: white;
  background-color:var(--bg-secondary);
  margin: 0;
  padding: 0;
}
main {
  margin-left: 5rem;
  padding: 1rem;
}
@media only screen and (max-width: 600px) {
  main {
    margin:0;
    margin-bottom:5rem;
  }
}

